<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Pokedex</h1>
    <ul id="pokemon-list">
        <% loadedPokemon.forEach(pokemon => { %>
            <li><%= pokemon.id %> - <%= pokemon.name %></li>
        <% }); %>
    </ul>
    
    <button id="load-more">Load More</button>
    
    <!-- Client-side Script -->
    <script src="/js/index.js"></script>
</body>
</html>