.card {
    overflow: hidden;
}

.card-img-wrapper {
    background-color: rgb(223, 229, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-wrapper img {
    height: 75px;
    display: block;
}

.card h5 {
    margin-bottom: 0;
}

#forms-wrapper {
    display: flex;
    margin-bottom: 2rem;
}

#sort-wrapper {
    margin-right: 1rem;
}

#search-wrapper {
    flex: 1;
}

#load-more {
    margin: 2rem auto 0;
    display: block;
}